@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@600&family=Merienda:wght@900&display=swap&family=Great+Vibes&display=swap');

body {
    margin:10px 0;
    background-color:#2e517f;
    text-align: center;
    color: #fff;
}

main {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
p {
    margin:2rem 0;
}
#weather-icon{
    margin: 0 auto;
}
#current-temp{
    font-weight: 700;
    text-shadow: 0 0 1rem #fff;
    letter-spacing: 1px;
}
h1{
    margin:10px;
    font-family: "Merienda", Helvetica, sans-serif;
    font-size: 2rem;

}

footer {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
    color:#2e517f;
    text-align: center;
}