@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color:   #192A51;
  --secondary-color: #fff  ;
  --accent1-color: #9E0059;
  --accent2-color: #4E5340;
  --background-color: #fff; /* 默认背景颜色 */
  --text-color: #192A51; /* 默认文字颜色 */
  --heading-font: "Montserrat", Helvetica;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-wrap: break-word;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--paragraph-font);
 } 

.content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0;
  /* z-index: -2; */
}
header{
  /* position: fixed; */
  padding:0 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  /* box-shadow: 0 0 10px var(--primary-color); */
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr 0.5fr 1fr auto ;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
}
.logo_link  {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: left;
  align-self: center;

} 
.logo{
  height: auto;
  display: block;
  margin: 0.5rem;
}
.navigation{
  margin-top: 2rem;	
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, auto);
  line-height: 2rem;
  text-align: center;
  list-style-type: none;
  align-items: center;
}

.home, .rentals, .reservations, .contact{
  align-items: center;
  justify-content: center;
  grid-row: 1/2;
}

.fb, .linkedin{
  grid-row: 1/2;
  margin-left: 1rem;
  width: 100%;
  max-width: 60%;
  height: auto;
  background-color: var(--background-color);
}
.fb{
  grid-column: 3/4;
}
.linkedin{
  grid-column: 4/5;
}

.navigation > h1{
  grid-column: 1/5;
  grid-row: 2/3;
  /* padding: 1rem; */
  width: 100%;
  height: auto;
  font-size: 3rem;
  font-weight:bolder;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 1px #192A51;
}

#mode {
  grid-column: 5/6;
  padding: .5rem .75rem;
  margin-right: 1rem;
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right:1rem;
  border: 0;
  cursor: pointer;
}
.menu {
  grid-column: 6/7;
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
  justify-content: center;
  font-family: var(--heading-font);
}

.menu button {
  border: 1px solid #fff;
	padding: 1rem;
	font-weight: 700;
  border-radius: 50px;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  font-weight: bolder;
  padding: 1rem;
}

p{
  line-height: normal;
  letter-spacing: 0.1rem; 
  text-align: center;
  font-family: var(--paragraph-font);
  padding: 1rem;
  font-size: 1rem;
}

.navigation > h1:hover{
  color:var(--accent1-color);
  text-shadow: 0 0 1px #9E0059;
}

.navigation a {
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation a:link, .navigation a:visited {
  color:var(--accent2-color);
}

.navigation a:hover{
  color: var(--accent1-color);
  font-size: 2rem;
}


.home:hover::after{
  content: "🏠";
}
.rentals:hover::after{
  content: "🏍️";
}
.reservations:hover::after{
  content: "🖊️";
}
.contact:hover::after{
  content: "📬";
}




.banner {
  position: fixed; /* 將橫幅固定在視窗中 */
  top: 0; /* 與視窗頂部對齊 */
  left: 0; /* 與視窗左側對齊 */
  width: 100%; /* 橫幅寬度佔滿視窗 */
  padding: 0 5px;/* 添加內邊距 */
  z-index: 9999; /* 將橫幅放在其他內容的上方 */
}

#banner {
  grid-column: 1/7;
  background-color: #cb1d2b;
  color: #fff;
  text-align: center;

}

.banner p {
  font-size: 1rem;
}
#closeBanner{
  border-radius: 0;
  border: none;
  cursor: pointer;
}

#hero {
  grid-column: 1/4;
  grid-row: 2/3; 
  height: 500px;
}
.hero-box{
  position: fixed;
  width: 100%;
  z-index: -2;
  /* top: 300; */
}
.hero-box img {
  height: auto;
  width: 100%;

}
#hero a{
  font-size: 1.5rem;
  text-align: center;

}
#hero-msg{
  padding: 1rem;
  height: auto;
  width: 100%;
}
.book{
  font-family: var(--heading-font);
  color:var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  padding: 20px;
  border-radius: 15px; 
  /* background-color:var(--accent2-color) ; */
  /* box-shadow: 0 0  10px var(--primary-color);  */
  /* position: relative;
  top: 600;
  right: 0; */
  z-index: 1;
}
#hero-msg a{
  font-size:2rem;
}

#hero-msg a:hover::before{
  font-size:2rem;
  content: "➡️";
  padding-left: 1rem;

}
/* #hero-msg a:hover::after
  font-size:2rem;
  content: "📝";
} */
.book::before{
  content: "🛻";
  font-size: 2.5rem;
}

.book:hover{
  color:var(--accent1-color);

  /* box-shadow: 0 0 10px var(--primary-color);;  */
}

.home-grid{
    grid-column: 2/3;
    grid-row: 4/5;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows:  auto 1fr auto;    
    background-color: var(--background-color);
}

hr {
  /* color:var(--accent2-color);  */
  width: 80%; /* 寬度為父元素寬度的一半 */
  margin: 0 auto; /* 使用 margin 屬性將水平線置於父元素的正中央 */
}

.Rental{
  grid-column: 2/3;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
}

.types-rental{
  grid-column: 1/4;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
}
.scooters{
  grid-row: 2/3;
}
.rental-img{
  grid-column: 1/4;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  padding: 1rem;
}
.rental-img img{
  box-shadow: 0 0 15px #4d4d4d;
  border-radius: 15px;  

}
.rental-icon{
  font-size: 1.5rem;
  font-weight: bold;
}

.human, .human2, .human4, .human5, .money{
  font-size: 1rem;
  /* font-weight: bold; */
}
.humanline{
  display: flex;
  flex-direction: row;
  align-items: first baseline;
}
.dio::before{
  content:"🛵 ";
  font-size: 2rem;
}
.pioneer::before{
  content:"🚘 ";
  font-size: 2rem;
}
.door-4::before{
  content:"🚙 ";
  font-size: 2rem;
}
.human::before{
  content:" 🧍🏻";
  font-size: 1.1rem;
}
.human2::before{
  content:" 🧑‍🤝‍🧑";
  font-size: 1.1rem;
}
.human4::before{
  content:" 👨‍👩‍👧‍👦";
  font-size: 1.1rem;
}
.human5::before{
  content:" 👪👩‍👦";
  font-size: 1.1rem;
}

.money::before{
  content:"💰";
  font-size: 1.1rem;
}

.table{
  grid-column: 2/3;
  grid-row: 1/2 ;
  padding-bottom: 10px;
  box-shadow: 0 0 10px var(--secondary-color);  
  /* border: thin solid var(--accent2-color); */
	/* box-shadow: 0 0 10px var(--accent2-color); */
	/* border-collapse: collapse; */
  border-radius: 15px;
}
caption {
	padding: 10px;
  margin-bottom: 10px;
	caption-side: top;
	font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color:var(--accent1-color);
}
th, td {
	padding: 7px 15px;
	/* border: 1px solid #c0bfbf; */
  border-radius: 15px;
}

th {
	background-color: #fff;
	font-size: larger;
}

.carName {
  background-color: #CBDFBD;
}
/* tbody th:nth-child(2) {
  border: none;
} */

.title{
  row-gap: 1px;
  column-gap: 1px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #FCB9B2;
}

.card-msg{
  text-align: center;
  background-color: #B33951;
  color: #fff;

}


#humid::before, #humid1::before{
  content:"💧";
  font-size: 2em; /* 將 emoji 大小放大為原始大小的兩倍 */
}

button{
  border-radius: 15px;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 10px var(--secondary-color);
}


figure img{
  width: auto;
} 
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


 .weekday{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}
#district{
  grid-column: 1/3;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#district > img{
  width: 10%;
  align-items: center;
}

.weather{
  padding-top: 10px;
  gap: 10px;
	margin-bottom:5px;
  grid-column: 2/3;
  grid-row: 2/3 ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 0 10px var(--secondary-color);
  border: 1px solid var(--secondary-color);  
  border-radius: 15px;
}
#current-weather{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#forcast-day{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.map{
  grid-column: 2/3;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

iframe{
  display: block;
  margin: 0 1rem;
}            
footer{
  margin:auto;
  grid-column: 1/4;
  grid-row: 5/6;
  width: 100%;
  height: auto;
  font-size: 1rem;
  text-decoration: none;
}
#footer-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
}

.footerlogo{
  grid-column: 1/2;
  grid-row: 1/2;

}
.footerlogo img{
  width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}


.footer-message{
  grid-column: 2/3;
  grid-row: 1/2;
}
.footerline{
  grid-column: 1/4;
  grid-row: 2/3;
}

.strong{
  font-weight: 700;
  font-size: 1.2rem;
}

footer p{
  color: var(--primary-color);
}

.agreement{
  margin: 0 auto 3rem auto ;
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/2 ;
  line-height: 1.5; 
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: first baseline;
  overflow-wrap: break-word; 
}


.agreement ul{
  list-style-type: none;
}

.agreement ul li::marker{
  content: "📍";
}

.formarea, .formarea2{
  line-height: 1.5; 
  letter-spacing: 2px;
  margin: 0 auto; /* 在頁面中水平置中 */
  padding: 20px; /* 設置內邊距 */
  justify-content: center;
  align-items: center;
  width: 100%; /* 設置表單寬度 */
  /* max-width: 1000px;  */
  border-radius: 5px; /* 設置邊框圓角 */
}
.formarea{
  grid-column: 2/3;
  grid-row: 2/3;
}
.formarea2{
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 600px;
}
/*----------- FORM STYLING--------*/
.form fieldset{
  /* margin: 1rem 0; */
  /* border-radius: 6px; */
  padding: 1rem;
  font-weight: bolder;
  color: var(--primary-color);
  border: none; /* 移除 fieldset 的邊框 */
  margin-bottom: 20px; /* 設置分區塊之間的間距 */
  text-align: left;
}

.form legend {
  text-align: center;
  color: var(--primary-color);
  /* padding: 0.5rem; */
  font-size: 2rem;
}

.form label {
  display: block; /* 讓標籤顯示為區塊元素，以使元素垂直堆疊 */
  margin-bottom: 5px; /* 設置與其他元素之間的間距 */
  color: var(--primary-color);
  /* font-size: 1.5rem; */
}
.border{
  margin: 1rem;
  padding: 1rem;
  /* border-radius: 6px;
  border: solid 1px var(--text-color); */
}
fieldset{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact2{
  display: block;
}
.form input[type="date"],
.form input[type="number"],
.form input[type="tel"],
.form input[type="text"],
.form input[type="email"],
.form textarea,
.form select
{
  /* background-color: #fff; */
  display: block;
  box-sizing: border-box;
  /* border: solid 1px var(--text-color); */
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 10px;
  color: var(--accent2-color);
  width: 100%;
  font-size: 1.2rem;
}
.form select {
  appearance: none; /* 隱藏 select 元素的預設樣式 */
  -webkit-appearance: none; /* 適用於 Safari 和 Chrome 瀏覽器 */
  -moz-appearance: none; /* 適用於 Firefox 瀏覽器 */
}
.form input[type="submit"]
{
  border: none;
  background-image: linear-gradient(#3E5622, #709255);
  color: var(--background-color);
  text-shadow:  0 0 1px #474A48;
  border-radius: 6px;
  padding: .8rem;
  width: 96%; /* 讓提交按鈕擴展到父容器的整個寬度 */  
  margin: 1rem 2% 2rem 2%;
	/* box-shadow: 0 0 10px var(--text-color); */
  font-size: 1.2rem;
  cursor: pointer; /* 設置游標樣式為手型 */
}

.form input[type="submit"]:hover{
  box-shadow: 0 0 10px var(--accent2-color);
  background-image: linear-gradient(#E3655B, #f4894b);
  color:#000;
}

.form input:required{
  border-left: solid 8px #E3655B;
}

.form input:required:valid{
  border-left: solid 8px #0B7189;
}


#footer-grid{
  margin: 0 10px 0 10px;
  padding-top: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--secondary-color); 

}
/* thank you page ***********************************/
#heart{
  font-size: 1.5rem;
  grid-column: 1/4;
  display: block;
  border-radius: 20px;
  background-color: var(--primary-color);
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  color: var(--secondary-color);
  }

  #heart::after{
      content: "👩🏻‍🦳👨🏻‍🦳";
      font-size: 10rem;
      margin-bottom: 50px;
  }

/* phone or baseline views **************************/
  #menu {
    display: none; /* hide hamburger button */
  }
  nav a {
    display: none;
  }
/* mobile view */
@media screen and (max-width: 670px){
  body, .content {
    font-size: 13px;
  }
  header{
    display: block;
    position: relative;
  }
  
  .fb, .linkedin{
    max-width: 5%;
    position: absolute;
    top: 10rem;
  }
  .fb{
    right:10rem;
  }
  .linkedin{
    right:5rem;
  }
  #menu {
      text-decoration: none;
      padding: .5rem .75rem;
      margin-left: 2rem;
      border: 0;
      display: block;
      position: absolute;/*將menu定位為絕對位置*/
      top: 1rem;
      right: 0.5rem; 
  }
  nav{
    display: none;  
  }

  .navigation{
    gap: 0;
    display: block; 
  }

  #menu::before {
      content: "☰";
  }

  #menu.open::before {
      content: "🌸";
  }
  #hero-msg{
    margin-top: -1rem;
  }
  #menu.open {
      display: block; /* 添加 .open 類時顯示 */
  }

  nav.open a {
      display: block;
  }
  .Rental, .scooters{
    display: block;

  }
  .humanline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rental-img{
    display: block;
    width: auto;
    height:auto;
  }
  .weather{
    display: block;
  }
  .map{
    display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: center;
  }

}