@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color:   #192A51;
  --secondary-color: #fff  ;
  --accent1-color: #9E0059;
  --accent2-color: #4E5340;
  --background-color: #fff; /* 默认背景颜色 */
  --text-color: #192A51; /* 默认文字颜色 */
  --heading-font: "Montserrat", Helvetica;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;
}
/* Desktop Views ****************************/
@media screen and (min-width: 1025px) {
	body {
		font-size: 20px;
	}
	
	#menu {
		display: none; /* hide hamburger button */
	}
    nav a{
        width:fit-content;
    }
    nav a:not(#menu),
    nav.open a:not(#menu){
        display: block;
        width: fit-content;
    }

	#hero-msg{
		margin-top: 1rem;
	}
	.Rental{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 1fr auto;
	  }
	#current-weather,  #forcast-day{
		grid-row: 2/3;
	  }
	  .map{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	  }
	/* #footer-grid{
		grid-column: 1/4;
		padding-top: 30px;
		font-family: var(--paragraph-font);
		display: grid;
		grid-template-columns: 2fr 1fr;
		list-style: none;
		font-size: 17px;
		text-decoration: none;
	  }

	.footer-logo img{
		grid-column: 1/2;
		padding-bottom: 10px;
	}
	
	#footer-message{
	  grid-column: 2/3;
	} */
}