/* Tablet Views ******************************/

@media screen and ((min-width: 671px) and (max-width: 1024px)) {

	body{
		font-size: 17px;
	}
	header{
		display: block;
		position: relative;
	  }
	  
	.fb, .linkedin{
		max-width: 10%;
		position: absolute;
		top: 5rem;
	}
	.fb{
		right:10rem;
	}
	.linkedin{
		right:3rem;
	}
	#menu {
		text-decoration: none;
		padding: .5rem .75rem;
		border: 0;
		display: block;
		position: absolute;/*將menu定位為絕對位置*/
		top: 1rem; /*頂部距離為0 */
		right: 1rem; /*右側距離為0 */
	}

	nav{
		gap: 0;
		display: block; 
	}

		
	#menu::before {
		content: "☰";
	}

	#menu.open::before {
		content: "🌸";
	}
	#hero-msg{
	margin-top: 0.5rem;
	}
	#menu.open {
		display: block; /* 添加 .open 類時顯示 */
	}

	nav.open a {
		display: block;
	}

	/* .card-msg{
		margin-left: 2rem;
	  } */

	.logo{
		width: 20%;
	}
	#hero-msg{
		position: sticky;
		padding: 0.25rem;
		height: auto;
		width: 100%;
		bottom:0.25rem;
	}
	.navigation{
		gap: 0;
		display: block; 
	  }
	.Rental, .scooters{
		display: block;

	}
	.humanline{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.rental-img{
		display: block;
		width: auto;
		height:auto;
	  }
	.weather{
		display: block;
	}
	.map{
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#footer-grid{
		display: block;
	  }
	
}



