@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@600&family=Merienda:wght@900&display=swap&family=Raleway&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
    font-family: "Raleway", "Georgia", sans-serif;
	grid-template-columns: auto 1fr auto/ auto 1fr auto;
}
header, main, footer {
	border: 1px solid #333;
	box-shadow: 0 0 10px #000;
	display: grid;
}
header,footer {
	background-color: #3b5527;
	color: #fff;
	padding: 7px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	grid-column: 1/4;
}

/* phone or baseline views **************************/
main {
	grid-column: 2/3;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr auto;
	row-gap: 10px;
	column-gap: 5px;;
	font-size: 0.8rem;
	padding: 5px 0;
}

.card {
	margin: 0.5rem;
	border: 1px solid #3b5527;
	padding: 0 1rem;
	box-shadow: 0 0 30px #485214;
	margin-bottom:5px;
	border-radius: 15px 15px 0px 0px;
	background-color: #efefee;
}
.title{
	display: block;
	background-color: #39562A;
	padding: 1rem;
	text-align: center;
	justify-content: center;
	color: #fff;
}

h2{
	font-weight: bold;
	font-size: 1.5rem;
}
h3{
	padding: 1rem;
	font-weight: bold;
}
.content p, a{
	padding: 1rem;

}

img{
	width: 100%;
}
/* Tablet Views ******************************/

@media only screen and (max-width: 500px) {
	body{
		font-size: 18px;
	}
	main {
		grid-template-columns: auto 1fr 1fr auto;
	}
	/* the first and third block start from second column */
	.card:first-of-type, .card:last-of-type{
		grid-column-start: 2;
	}
	.card:ninth-of-type(2){
		grid-column-start: 3;
	}
	/* the first and second block span one column */
	.card:not(.card:last-of-type){
		grid-column-end:span 1;
	}
	/*the third block span 2 columns*/
	.card:last-of-type{
		grid-column-end:span 2;
	}

}

/* Desktop Views ****************************/
@media only screen and (min-width: 1024px) {
	body {
		font-size: 20px;
	}
}

