@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@600&family=Merienda:wght@900&display=swap&family=Raleway&display=swap');

body {
	font-size: 16px;
    font-family: "Raleway", "Georgia", sans-serif;
	display: grid;
	grid-gap: 7px;
	max-width: 760px;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
		"nav"
		"main"
		"footer";
}
header, nav, main, footer {
	border: 1px solid #333;
	box-shadow: 0 0 10px #000;
}
header {
	background-color: #3b5527;
	color: #fff;
	padding: 7px;
	grid-area: header;
	text-align: center;
	justify-content: center;
}
/* phone or baseline views **************************/
main {
	max-width: 760px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
	grid-area:main;
	gap:5px;
	padding: 5px;

}

main section {
	margin: 0.5rem;
	border: 1px solid #3b5527;
	padding: 0 1rem;
	background-color: #efefee;
}

main section h2 {
	color:#fff
}


/* main section:nth-child(1) {
	display: none;
	margin: 0.5rem;
} */


.card {
	box-shadow: 0 0 30px #485214;
	margin-bottom:5px;
    border-radius: 15px 15px 0px 0px;
}
.title{
	display: block;
	background-color: #39562A;
	padding: 0.5rem;
	text-align: center;
	justify-content: center;

}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* This is unncessary !!! The flow is set and the template is set already */
	main section:nth-child(1) {
	  grid-column: 1/2;
  }
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
  }
	/*************************************/

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
