@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

main {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #000;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #777;
  text-align: center;
}

h1::after{
  font-size: 1.5rem;
  content: "🧔🏻";
}

h2 {
  color: navy;
  margin: 0 0 1rem 0;
	border-bottom: 1px solid #bbb;
  text-align: center;
}



section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
}
#card {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.25rem;

}

#card > section {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}
footer {
  border-top: 1px solid #555;
  padding: 20px;
  text-align: center;
}
