@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1F4736  ;
  --secondary-color: #E7EFE7  ;
  --accent1-color: #3C0211;
  --accent2-color: #FEECED;


  /* change the values below to your chosen font(s) */
  --heading-font: "Montserrat", "Lato", Helvetica;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo_link  {
  padding-top: 5px;
  padding-left: 5px;
  justify-self: center;
  align-self: center;
} 

.logo{
  width: 100px;
  height: 80px;
  border-radius: 50%; 
  display: block;
  margin: 0 auto;
  max-width: 300px;
  box-shadow: 0 0 30px var(--accent2-color);
  border: 1px solid var(--secondary-color);
}
body {
  overflow-wrap: break-word;
	grid-template: auto 1fr auto/ auto 1fr auto;
  background-color: var(--secondary-color);
}
header {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: var(--heading-font);
	box-shadow: 0 0 10px var(--primary-color);
  align-items: center;
  justify-content: center;
  /* padding: 25px 50px; */
  display: flex;
  justify-content: space-around;
}

header > h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--accent1-color);
}

/* phone or baseline views **************************/
.content {
  font-size: 17px;
  font-family: var(--paragraph-font);
	/* margin: 0 auto; */
	display: grid;
	grid-template-columns: auto 1fr auto;
	row-gap: 10px;
	column-gap: 5px;
	padding: 5px 0;
  z-index: -2;
}
#menu {
  display: none; /* hide hamburger button */
}
#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❤️";
}
nav {
  /* background-color: var(--accent2-color); */
  line-height: 1rem;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

nav a {
  padding: 35px;
  text-align: center;
  text-decoration: none;
}
nav a:link, nav a:visited {
  color:var(--primary-color);
}

nav a:hover{
  background-color: var(--secondary-color);
  color: var(--accent1-color);
}
nav a:hover::after{
  font-family: "Lato";
  padding-bottom: 5px;
}

#home:hover::after{
  content: "📭";
}
#discover:hover::after{
  content: "🔎";
}
#directory:hover::after{
  content: "🛩️";
}
#join:hover::after{
  content: "🎯";
}

#hero {
	width: 100%;
	margin: 0.5rem;
	grid-column: 1/2;
  grid-row: 1/4;
  margin-top: 100px; 
  z-index: -1;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
#hero-box{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -1;
}
#hero-msg{
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: -100px;
  z-index: -1;
}
#hero-img {
  grid-column: 1/2;
  width: 100% ;
  z-index: -1;
}
h1, h2, h3, h4, h5, h6,.navigation a{
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.button-box a{
  font-family: var(--heading-font);
  color:var(--secondary-color);
  font-weight: bold;
}
.button-box{
  margin-top: 20px;
  text-align: center;
}
.book {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%; 
  max-width: 80px;
  background-color:var(--primary-color) ;
  box-shadow: 0 0 30px var(--primary-color); 
  text-decoration: none;
}

.book:hover{
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  max-width: 80px;
  background-color:  var(--accent1-color);
  color:var(--accent2-color);
  box-shadow: 0 0 30px var(--accent1-color); 
  text-decoration: none;
  font-weight: bold;
}
.home-grid{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows:  auto 1fr auto;    
    gap:10px;
}
.big-event, .event-img{
  grid-column: 1/2;
  grid-row: 1/2 ;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px var(--primary-color);  
  padding-bottom: 10px;
}
img{
  width: 100%;
}
.big-event, .weather, .spotlight{
  padding-top: 10px;
}
.weather{
  grid-column: 1/2;
  grid-row: 2/3 ;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px var(--primary-color);  
}
.spotlight{
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1/2;
  grid-row: 3/4 ;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px var(--primary-color);  
}
#spot-message{
  grid-column: 1/ 2;
  grid-row: 3/4 ;
  padding-bottom:10px;
}

p{
  line-height: normal;
  letter-spacing: 0.1em; 
  text-align: center;
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  padding: 1em;
  font-size: 1.5rem;
}

footer{
  margin:auto;
  box-shadow: 0 0 10px var(--primary-color);  

}

#footer-grid{
  margin: 0 10px 0 10px;
  padding-top: 30px;
  font-family: var(--paragraph-font);
  grid-column: 1/2;
  display: grid;
  grid-template-columns: auto 1fr auto;
  list-style: none;

  background-color: #fff;
}
#footer-logo img, #logo-message, .footer-message{
  grid-column: 1/2;
  padding: 10px;
  text-decoration: none;
  font-size: 0.8rem;
}
.footer-message{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

#name{
  font-size: 14px;
}

/* mobile view */
@media screen and (max-width: 670px){


  #menu {
      /* font-size: 1.5rem; */
      font-weight:700;
      text-decoration: none;
      padding: .5rem .75rem;
      border: 0;
      background: var(--secondary-color);
      color: var(--primary-color);
      display: block;
      position: absolute;/*將menu定位為絕對位置*/
      top: 0; /*頂部距離為0 */
      right: 0; /*右側距離為0 */
  }

  #menu::before {
      content: "☰";
  }

  #menu.open::before {
      content: "❤️";
  }
  
  nav {
      margin: 1rem auto;
      align-items: center;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #menu.open {
      display: block; /* 添加 .open 類時顯示 */
  }

  nav.open a {
      display: block;
  }
  
  nav a {
      /* border: 1px solid#ffffff; */
      display: none;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      text-decoration: none;
      width:fit-content;
  }
  nav a:hover{
      /* border: 1px solid#ffffff; */
      background-color: var(--accent2-color);
      color: var(--accent1-color);
      /* width:100%; */
  }
}