@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1F4736  ;
  --secondary-color: #E7EFE7  ;
  --accent1-color: #3C0211;
  --accent2-color: #FEECED;
  --background-color: #1F4736; /* 默认背景颜色 */
  --text-color: #FEECED; /* 默认文字颜色 */
  /* change the values below to your chosen font(s) */
  --heading-font: "Montserrat", Helvetica;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo_link  {
  padding-top: 5px;
  padding-left: 5px;
  justify-self: center;
  align-self: center;
} 

.logo{
  width: 100px;
  height: 80px;
  border-radius: 50%; 
  display: block;
  margin: 0 auto;
  max-width: 300px;
  box-shadow: 0 0 30px var(--accent2-color);
  border: 1px solid var(--secondary-color);
}
body {
  overflow-wrap: break-word;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 20px;
}


.content {
  font-family: var(--paragraph-font);
	display: grid;
	grid-template-columns: auto 1fr auto;
	row-gap: 10px;
	column-gap: 5px;
	padding: 5px 0;
  z-index: -2;
}
.banner {
  position: fixed; /* 將橫幅固定在視窗中 */
  top: 0; /* 與視窗頂部對齊 */
  left: 0; /* 與視窗左側對齊 */
  width: 100%; /* 橫幅寬度佔滿視窗 */
  padding: 0 5px;/* 添加內邊距 */
  z-index: 9999; /* 將橫幅放在其他內容的上方 */
}

#banner {
  grid-column: 1/4;
  background-color: #cb1d2b;
  color: #fff;
  text-align: center;
}

#banner p {
  font-size: 1rem;
}
#closeBanner{
  border-radius: 0;
  border: none;
  cursor: pointer;
}
header {
  grid-column: 1/4;
  grid-row: 1/2;
  font-family: var(--heading-font);
	box-shadow: 0 0 10px var(--primary-color);
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

}

header > h1 {
  font-size: 2rem;
  text-align: center;
  /* color: var(--accent2-color); */
}

#mode {
  padding: .5rem .75rem;
  margin-right: 1rem;
  position:absolute;
  font-size: 2rem;
  top: 1rem;
  right:1rem;
  border: 0;
  cursor: pointer;
}

nav {
  line-height: 1rem;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  align-items: center;
}

nav a {
  padding: 35px;
  text-align: center;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color:var(--accent2-color);

}

nav a:hover{
  color: var(--secondary-color);
  font-size: 1.5em;
}


#home:hover::after{
  content: "📭";
}
#discover:hover::after{
  content: "🔎";
}
#directory:hover::after{
  content: "🛩️";
}
#join:hover::after{
  content: "🎯";
}

#hero {
	/* width: 100%; */
  grid-column: 1/4;
  grid-row: 2/3; 
  display: grid;
  grid-template-columns: 1fr;
}
#hero-box{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -1;
}
#hero-msg{
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  display:flex;
  flex-direction: column;
  /* margin-top: 0.5rem; */
  align-items: center;
}
#hero-img {
  margin-top: -2rem;
  grid-column: 1/2;
  width: 100%;
  max-width :auto;
  height: auto;
}
h1, h2, h3, h4, h5, h6,.navigation a{
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: bolder;

}

.home-title{
  color: var(--accent1-color);
  background-color: #fff;
} 
p{
  line-height: normal;
  letter-spacing: 0.1rem; 
  text-align: center;
  font-family: var(--paragraph-font);
  /* color: var(--accent2-color); */
  padding: 1em;
  font-size: 1em;
}
.button-box{
  padding-top:20px
}

.book{
  font-family: var(--heading-font);
  color:var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%; 
  max-width: 80px;
  background-color:var(--primary-color) ;
  box-shadow: 0 0 30px var(--primary-color); 
}
.button-box a{
  font-size: 1rem;
}

.book:hover{
  background-color:  var(--accent1-color);
  box-shadow: 0 0 30px var(--accent1-color); 
  color:var(--accent2-color);
}

.home-grid{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows:  auto 1fr auto;    
}

hr {
  /* color:var(--accent2-color);  */
  width: 80%; /* 寬度為父元素寬度的一半 */
  margin: 0 auto; /* 使用 margin 屬性將水平線置於父元素的正中央 */
}
h4, h5{
  padding: 1rem;
}
.big-event{
  grid-column: 2/3;
  grid-row: 1/2 ;
  padding-bottom: 10px;
  box-shadow: 0 0 10px var(--secondary-color);  
}
#degree::before{
  /* content:"🌤️"; */
  font-size: 2em; /* 將 emoji 大小放大為原始大小的兩倍 */
}
#wind::before{
  content:"🌀";
  font-size: 2em; /* 將 emoji 大小放大為原始大小的兩倍 */
}
#windChillResult::before{
  content:"❄️";
  font-size: 2em; /* 將 emoji 大小放大為原始大小的兩倍 */
}
#humid::before{
  content:"💧";
  font-size: 2em; /* 將 emoji 大小放大為原始大小的兩倍 */
}

button{
  border-radius: 15px;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 10px var(--secondary-color);
}

.event{
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 1rem;
}

.event-img{
  width: 100%;
  height: auto;
}


figure img{
  width: auto;
} 
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-event, .weather, #spotlight{
  padding-top: 10px;
  gap: 10px;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 10px var(--secondary-color);
	margin-bottom:5px;
	border-radius: 15px;
}
 .weekday{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}
#district{
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
}

#district > img{
  width: 10%;
  align-items: center;
}
.weather{
  grid-column: 2/3;
  grid-row: 2/3 ;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px var(--secondary-color);  
}
#current-weather{
  display: flex;
  flex-direction: row;
}

#forcast-3-days{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#spotlight  > *{
  text-align: center;
  align-items: center;
  justify-content: center;
}
#spotlight{
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  padding: 1rem;
  grid-column: 2/3;
  grid-row: 3/4 ;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px var(--secondary-color);
}

#spotcards{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  gap: 0.5rem;
}
#spotlight > h4{
  margin: 0;
  text-align: center;
}

.spot-light{
  align-items: center;
  justify-content: center;
  grid-row: 3/4;
	border: 1px solid var(--secondary-color);
	box-shadow: 0 0 10px var(--secondary-color);
	border-radius: 15px; 
  background-color: #fff;
  color: var(--accent1-color);
  display: grid;  
  grid-template-rows: auto 1fr auto;
}
.spot-img{
  width:100%;
  /* max-width:auto ; */
  height: auto;
}

.spot-title{
  margin-top: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 2rem;
	text-shadow: 0 0 10px #f3b4b7;
  letter-spacing: 2px;
  width: 100%;
  max-width: 340px;
  height: 106px;
}

.spot-message{
  margin-bottom:1rem;
  font-size: 1.2rem;
}

.spot-message::before{
  font-size: 1.2rem;
  content:"🪙";
}

#pictures{
  margin: 1rem;
  display: grid;
  grid-template-columns: 2fr auto;
  /* grid-template-rows: repeat(6, auto);  */
  row-gap: 1rem;
  text-align: center;
  padding: 1rem;
  }

.attraction, .attraction2{
  align-items: center;
  justify-content: center;

  }

.attraction img:hover{
  box-shadow: 0 0 20px #fff;
}

.information{
  grid-column: 1/2;
}

.information-title{
  padding: 1rem;
  /* background-color: var(--background-color); */
  font-size: 1.5rem;
}

.information-title::before{
  content: "💫";
}

.static-description-1, .static-description-2, .static-description-3{
  padding-left: 3rem;
  font-family: var(--paragraph-font);
  font-size: 1rem;
  line-height: 1.5; 
  text-decoration: none;
  overflow-wrap: break-word; 
  color: #fff;
}  


.static-title{
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 15px;
  /* background-color: var(--background-color); */
}

.information-title:hover{
  text-shadow:  0 0 30px #f8ef02;
}


#visit-count{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0; /* 確保文字與左邊區塊的頂部對齊 */
  text-shadow:  0 0 30px #fff;
}

#visit-count:before{
  content:"🎉";
  font-size: 1.5rem;
}
#visit-count:hover{
  /* transform: scale(1.1); */
  font-size: 1.75rem;
  font-weight: 800;
}
#visit-count:hover::before{
  content:"🎊";
  font-size: 1.5rem;
}

.number{
  background-color: #4d4d4d;
}
.static-description-2 li {
  padding-left: 0;
  list-style-type: none;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;		
}	 

.card-msg{
  text-align: left;
  margin-left: 1rem;
}


.static-description-3 > a, .card-msg > a{
  color:#fff;
  text-decoration: none;
}
.static-description-3 > a::before{
  content: "🏢";
}
.static-description-3 > a:hover{
  font-weight: 800;
  text-shadow:  0 0 30px #f8ef02;
}

#visitors{
  grid-column: 1/3;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#visit-count{
  padding: 0;
  grid-column: 2/3;
  width: 100%;
}

.static-title, .static-description-1, .static-description-2, .static-description-3, .attraction2{
  align-items: center;
  justify-content: center;
}

.join{
  grid-column: 2/3;
  display: grid;
	grid-template-columns: auto 1fr auto;
}
.benefits{
  margin-left: 20px;
  grid-column: 1/2;
  width: 100%;
  text-align: left;
}
.formarea{
  padding: 0 10px;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main{
  grid-column: 2/3;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
  justify-content: center;
  font-family: var(--heading-font);
  
}

.menu button {
  /* background-color: var(--secondary-color); */
  border: 1px solid #fff;
	padding: 1rem;
	font-weight: 700;
  /* color: var(--accent1-color); */
  border-radius: 50px;
}

.grid section > * {
	/* margin: 0.1rem; */
  text-align: center;
}

.grid section  {
  text-align: center;
  padding: 1rem;
}

.grid section #company {
	font-family: var(--paragraph-font);
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	margin: 0;
  grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
	padding: 0.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.list > section > * {
	margin: 0 1rem;
}

.list > section > img {
	display: none; /* smaller viewports only */
}

.list> section > #company {
	font-size: 1rem;
  font-weight: 100;
  font-family: var(--heading-font);
}

.list > section:nth-child(even) {
	background-color: var(--accent2-color);
}

.list > section:nth-child(even) #company{
	background-color: var(--accent2-color);
}


.cards {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  color: var(--accent1-color);
  justify-content: center;
}
#company {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #fff;
  color: var(--accent1-color);
}
.cards > section {
  background-color: #fff;
  box-shadow: 0 0 20px #232826;
  margin: 0.25rem;
  /* padding: 0.35rem; */
  text-align: center;
  padding: 10px;
}
.cards > section > p {
  margin: 0 auto 10px;
  padding: 1px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

.cards > section > img {
  width: 100%;
  padding: 0.5rem;
  justify-content: center;
  height: auto;
}
#member {
  padding-top: 1rem;
  font-weight: 700;
}
#member::before{
  content: "🪙";
}
footer{
  margin:auto;
  grid-column: 1/4;
  grid-row: 4/5;
  width: 100%;
  font-size: 1em;
  text-decoration: none;
}

.strong{
  font-weight: 700;
  font-size: 1.2rem;
}
/* footer p, #footer-name{
  font-size: 1em;
  text-decoration: none;
} */
footer p{
  color: var(--primary-color);
}
#footer-name{
  color:var(--secondary-color);
}

/*----------- FORM STYLING--------*/
.form fieldset, .benefits{
  margin: 1rem 0;
  border-radius: 6px;
  padding: .75rem;
  font-size: 1rem;
}

.form legend {
  font-weight: 700;
  color: #fff;
  /* padding: 0.5rem; */
  font-size: 1.5rem;
}

.form label, .level{
  display:block;
  padding-top: 1rem;
  color: #fff;
  font-size: 1rem;
}

.level li{
  margin: 1rem 0 1rem 1rem;
  padding-left: 1rem;
  line-height: 0.8rem;
}

.level li::marker{
  content: "🪙";
}
#membership h2{
  padding-left: 10px;
  font-size: 2rem;
  text-shadow: 0 0 10px #fcf300;
  /* background-color: var(--background-color); */

}
#membership h2::after{
  padding: 0 0 10px 10px;
  content: "🪪";
  font-size: 2rem;
}

.level-title{
  padding: 1rem;
  display: block;
  color: var(--accent1-color);
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
}
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form textarea,
.form select,
.form input[type="number"]
{
  background-color: #fff;
  display: block;
  border: solid 1px var(--secondary-color);
  border-radius: 6px;
  padding: 1rem;
  color: #555;
  width: 100%;
  max-width: 400px;
}

.form input[type="submit"]
{
  border: none;
  background-image: linear-gradient(#dc1818,  var(--accent1-color));
  color: #fff;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: 1rem 2% 2rem 2%;
	box-shadow: 0 0 10px var(--secondary-color);
}

.form input:required{
  border-left: solid 8px red;
}

.form input:required:valid{
  border-left: solid 8px green;
}
#footer-grid{
  margin: 0 10px 0 10px;
  padding-top: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--secondary-color); 

}
/* thank you page ***********************************/
#thank, #thankfooter{
  margin-top: 10px;
  background-color: #fff;
  text-align: center;

  padding: 10px;
  color:var(--primary-color);
}

#thank > h1, #heart{
  font-size: 2rem;
}
#thankfooter{
  font-size: 1rem;
}

#heart {
  display: block;
  border-radius: 20px;
  background-color: var(--primary-color);
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  color: var(--secondary-color);
  }
  #heart::after{
      content: "👩🏻‍🦳👨🏻‍🦳";
      font-size: 10rem;
      margin-bottom: 50px;
  }
/* phone or baseline views **************************/

#menu {
  display: none; /* hide hamburger button */
}
nav a {
  display: none;
}

/* mobile view */
@media screen and (max-width: 670px){
  body, .content {
    font-size: 13px;
  }
  header, .list{
    display: block;
    position: relative;
  }

  #menu {
      text-decoration: none;
      padding: .5rem .75rem;
      margin-left: 1rem;
      border: 0;
      display: block;
      position: absolute;/*將menu定位為絕對位置*/
      top: 1rem;
      right: 0.5rem; 
  }


  nav{
    gap: 0;
    display: block; 
  }

  #menu::before {
      content: "☰";
  }

  #menu.open::before {
      content: "❤️";
  }
  #hero-msg{
    margin-top: -1rem;
  }
  #menu.open {
      display: block; /* 添加 .open 類時顯示 */
  }

  nav.open a {
      display: block;
  }


  .spot-title{
    padding: 1px;
    font-size: 1rem;
    width: 110px;
    height: 35px;
  }

  .spot-message{
    font-size: 0.9rem;
  }
  .information{
    max-width: 600px;
    justify-content: center;
    align-items: center;
  }
  .attraction img, .attraction2 img{
    width: 100%;
    height:auto;
    max-width: 400px;
  }
  #visitors{
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }
  .static-description-2 li {
    margin-left: 0;
  }
  /* .list section {
    width: 650px;
  } */
  /* .footerline{
    display: grid;
    grid-template-rows: repeat(7, auto);
  } */
}