:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1F4736  ;
    --secondary-color: #E7EFE7  ;
    --accent1-color: #3C0211;
    --accent2-color: #FEECED;
    /* change the values below to your chosen font(s) */
    --heading-font: "Montserrat", "Lato", Helvetica;
    --paragraph-font: "Open Sans", Helvetica, sans-serif;

  }
/* Desktop Views ****************************/
@media screen and (min-width: 1025px) {
	#menu {
	display: none; /* hide hamburger button */
	}

	body {
		font-size: 20px;
	}
	#hero {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		margin-top: -100px; 
	  }
	  
	  #hero-box{
		grid-column: 1/4;
		grid-row: 1/3;
		z-index: -1;
	  }
	  #hero-msg{
		grid-column: 2/3;
		grid-row: 1/2;
		margin-top: 100px;
	  
	  }
	.home-grid{
		padding: 10px;
		width: 100%;
		display: grid;
		grid-template-columns: auto 2fr 1fr auto;
	  
		gap:10px;
	}
	.big-event, .event-img{
		grid-column: 1/3;
		grid-row: 1/2 ;
		/* border: 1px solid #333; */
		box-shadow: 0 0 10px var(--primary-color);  
		padding-bottom: 10px;
	  }
	  img{
		width:100%;
	  }
	  .big-event, .weather{
		padding-top: 10px;
	  }
	  .weather{
		grid-column: 2/3;
		grid-row: 1/2 ;
		/* border: 1px solid #333; */
		box-shadow: 0 0 10px var(--primary-color);  
	  }
	  .spotlight{
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: 1/span 2;
		/* border: 1px solid #333; */
		box-shadow: 0 0 10px var(--primary-color);  
	  }
	  #spot-message{
		grid-column: 1/ span 2;
		padding-bottom:10px;
	  }
	main h2{
		margin: 0 auto;
		background-color: var(--secondary-color);
		padding: 1rem 0;
		text-align: center;
		justify-content: center;
		color: var(--secondary-color);
		font-weight: bold;
		font-size: 1.5rem;
	}
	#footer-grid{
		padding-top: 30px;
		font-family: var(--paragraph-font);
		display: grid;
		grid-template-columns: 2fr 1fr;
		list-style: none;
		font-size: 17px;
		text-decoration: none;
		background-color: #fff;
	  }

	#footer-logo img{
	grid-column: 1/2;
	padding-bottom: 10px;
	}
	
	#footer-message{
	  display: flex;
	  flex-direction: column;
	}
}