* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

select{
    font-size: x-large;
}

option{

    font-size: x-large;
}

div{
    margin-top: 30px;
    font-size: larger;
    color:#5e1528;
}
