@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@600&family=Merienda:wght@900&display=swap');

body {
    background-color: black;
    /* font-size:30px; */
}

header {
    background-color: #fff;
    border-radius: 15px 15px 0px 0px; 
}

.me {
    margin:0 auto;
    padding-top: 10px;
    display:flex;
    /* grid-template-columns: 1fr; */
    max-width :60%;
    max-height: 60%;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

img {
    border-radius: 15px 15px 15px 15px; 
    /* grid-column: 1/2;
    grid-row: 1/2; */

}

h1{
    font-family: "Merienda", Helvetica, sans-serif;
    font-size: 20px;
    /* grid-column: 1/2;
    grid-row: 1/2; */
    /* text-align: center;
    justify-content: center; */
}
main {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px; 
    background-color: #fff;
    z-index: -1;
}
.card {
    padding-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: steelblue;
}

h2 {
    margin-top: 0px;
    text-align: center;
    justify-items: start;
    font-size: 30px;
    font-family: "Merienda", Times, Helvetica;
    color: black;
}
ul li {
    display: block;
    padding: 10px;
    margin:15px;
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    overflow: hidden;
}



nav {
    margin: 0;
    padding-top: 20px;
    background-color: #fff;
    color: #4682b4;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-self: baseline;
    /* direction: inherit; */
}

nav a {
    background-color: #4682b4;
    color: #fff;
    display: grid;
    column-gap: 1px;  
    justify-content: space-evenly;
    padding: 10px;
}
h3 {
    margin-top: 0;
    padding-top: 0px;
    background-color: steelblue;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    align-self: baseline;
}
#name{

    display: grid;
}







