@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@600&family=Merienda:wght@900&display=swap&family=Great+Vibes&display=swap');

body {

    background-color: black;
    /* font-size:30px; */
}

header {
    background-color: #fff;
    border-radius: 15px 15px 0px 0px; 
}

.me {
    margin:0 auto;
    padding: 10px 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

img {
    max-width :100%;
    max-height: 100%;
    border-radius: 15px 15px 15px 15px; 
}

h1{
    font-family: "Merienda", Helvetica, sans-serif;
    font-size: 2rem;
}

#menu {
    display: none; /* hide hamburger button */
}

nav {
    margin: 0;
    background-color: #2e517f;
    color: #2e517f;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


nav a {
    background-color: #2e517f;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    /* border: 1px solid#ffffff; */
    background-color: #fff;
    color: rgb(46, 81, 127);
    /* width: 100%; */
}


.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(46, 81, 127, 0.1);
    align-items: center;
    justify-content: center;
}

.hero img {
	object-fit: cover;
    width:100%;
}

.herolabel {
	position: absolute;
	background: radial-gradient(#fff, rgb(46, 81, 127));
	border: 1px solid rgba(0,0,0,.75);
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}

main {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px; 
    background-color: #fff;
    z-index: -1;

}
h2 {
    margin:0 auto;
    padding: 20px 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Merienda", Times, Helvetica;
    color: black;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.card {
    margin:0 auto;
    padding: 10px 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #2e517f;
}

ul li {
    margin:0 auto;
    padding: 10px 10px;
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: gray; */
    overflow: hidden;
}

ul a{
    text-decoration: none;
}
ul a:hover{
    text-decoration: dashed;   
}

h3 {
    margin-top: 0;
    padding-top: 0px;
    background-color: #2e517f;
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

footer {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding:2px;
    background-color: #fff;

}

iframe{
    margin-top: 10px;
    width: 100%;    
    padding:2px;
}
#name{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

/* mobile view */
@media screen and (max-width: 500px){

    .me {
        margin:0 auto;
        padding: 5px 5px;
        display:flex;
        max-width :30%;
        max-height: 30%;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }

    #menu {
        /* font-size: 1.5rem; */
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        border: 0;
        background: #2e517f;
        color: #fff;
        display: block;
        position: absolute;/*將menu定位為絕對位置*/
        top: 0; /*頂部距離為0 */
        right: 0; /*右側距離為0 */
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❤️";
    }
    
    nav {
        margin: 1rem auto;
        align-items: center;
        background-color: #2e517f;
        color: #2e517f;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #menu.open {
        display: block; /* 添加 .open 類時顯示 */
    }

    nav.open a {
        display: block;
    }
    
    nav a {
        /* border: 1px solid#ffffff; */
        display: none;
        background-color: #2e517f;
        color: #fff;
        text-decoration: none;
        width:fit-content;
    }
    nav a:hover{
        /* border: 1px solid#ffffff; */
        background-color: #fff;
        color: #2e517f;
        /* width:100%; */
    }

    .herolabel{
        top: 200px;
        left: 30px;
        padding: 0.25rem;
        box-shadow: 0 0 1rem #fff;
    }
    .herolabel p {
        margin: 0;
        padding: .2rem;
        font-weight: 700;
        font-size: 1rem;
    }
    main{
        max-width: 400vw;
    }
}