@media screen and (min-width: 500px){
    nav, .content{
        flex-direction: row;
    }
    nav a{
        width:fit-content;
    }
    nav a:not(#menu),
    nav.open a:not(#menu){
        display: block;
        width: fit-content;
    }


}